$postman-orange: #ff6c37;
$deep-space-blue: #1c272b;

$light-orange: #f4815b;
$bright-orange: #f99b78;
$night-sky: #2b3b41;
$blue-steel: #6d7f91;
$light-blue: #dbe9f2;
$lighter-blue: #f5f8fb;
$dark-purple: #493e5e;
$light-purple: #665c80;
$bright-purple: #7d727e;

$gray-3: #282828;
$gray-2: #666666;
$gray-1: #f4f4f4;
$white: #ffffff;

$info-blue: #30accb;
$success-green: #26b47f;
$error-red: #ed4b48;
$warning-yellow: #ffb400;

$footer-color: #32abcb;

// 2021 Refresh variables

// ORANGE
$orange_90: #553326;
$orange_80: #a12700;
$orange_70: #d23f0e;
$orange_60: #e05320;
$orange_50: #ff6c37;
$orange_40: #ff8e64;
$orange_30: #ffb091;
$orange_20: #ffd1be;
$orange_10: #fff1eb;
// GREY
$grey_90: #212121;
$grey_85: #262626;
$grey_80: #2b2b2b;
$grey_70: #303030;
$grey_60: #3b3b3b;
$grey_50: #707070;
$grey_40: #a6a6a6;
$grey_30: #e6e6e6;
$grey_20: #ededed;
$grey_10: #f2f2f2;
$grey_05: #f9f9f9;
$grey_00: #ffffff;
// BLUE
$blue_90: #002d70;
$blue_80: #00439d;
$blue_70: #0053b8;
$blue_60: #0265d2;
// $blue_50: #097$BED;
$blue_40: #3e92f2;
$blue_30: #74aef6;
// $blue_20: #ADCDF$B;
$blue_10: #e7f0ff;
// YELLOW
$yellow_80: #523a03;
$yellow_90: #886000;
$yellow_70: #ad7a03;
$yellow_60: #de9c00;
$yellow_50: #ffb400;
$yellow_40: #ffcf3f;
$yellow_30: #ffe47e;
$yellow_20: #fff4be;
$yellow_10: #fff9e0;

// BACKGROUNDS
$blue_95: #01213c;
$yellow_05: #fffef9;

// Fonts
$degular: "Degular-Display-Semibold", system-ui, -apple-system,
  BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
  Helvetica, Arial, sans-serif;
$inter: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial,
  sans-serif;
$ibm: "IBM Plex Mono", SFMono-Regular, Consolas, Liberation Mono, Menlo,
  monospace !important;
