ul.horizontal > li {
  display: inline-block;
  zoom: 1;
}

/*ul.capabilities,
ul.capabilities > li,
ul.capabilities > li > a {
  all: initial;
}*/
/*
ul.capabilities {
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 1.43rem;
  padding-left: 0;
  list-style: none;
  padding-left: 0;
  list-style-position: outside;
  list-style-image: none;
}

ul.capabilities > li {
  margin-bottom: calc(1.45rem / 2);
  line-height: 1;
  padding: 0;
}
*/
